@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}
:root {
   --bg-colour: #0C141C; /* Background colour - Dark blue */
   --fg-colour-one: #272660; /* Accent 1 */
   --fg-colour-two: #0FFFFF; /* Accent 2*/
   --fg-colour-three: #ED1E79; /* Accent 3*/
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-colour);
}
  /*header CSS styles end*/
header{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }

h1 {
    font-weight: 0px;
    font-size: 60px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

/*game*/
.game-area{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.row-block{
  border: 1px solid var(--fg-colour-two);
  min-width: 60px;
  min-height: 60px;
  font-size: 50px;
  font-weight: bold;
  color: gainsboro;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard-container {
  height: 200px;
}

.correct {
  background-color: #6AAA64;
  color: white;
  border-color: white;
}

.present {
  background-color: #C9B458;
  color: white;
  border-color: white;
}

.absent {
  background-color: #787C7E;
  color: white;
  border-color:white;
}

#keyboard-container {
  height: 200px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard-row button{
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 58px;
  cursor: pointer;
  background-color: rgb(129, 131, 132);
  color: rgb(215, 218, 220);
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
}

.spacer-half {
  flex-grow: 0.5;
}